@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Imperial+Script&family=Kanit:wght@300&family=Luxurious+Roman&family=Norican&family=Oswald&family=Prosto+One&family=Saira+Condensed:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    padding-top: 400px;
    align-items: center;
    justify-content: center;
}

.home h1 {
    font-size: 40px;
}


.button {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.button button{
    width: 50%;
    height: 35px;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px rgb(0,0,0 ,0.8);
    border: none;
    font-size: medium;
    font-weight: 900;
}

button:hover {
    background-color: black;
    color: white;
}

#signup-button {
    padding-top: 15px;
}

/* each button container  */


/* login container */

.login-container {
    width: 100%;
    height: 40%;
    background-color: rgb(250, 243, 243);
    box-shadow: 10px 10px 20px rgb(0,0,0,0.6);
    border: none;
    border-radius: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-container {
    display: none;
}

.login-content h1 {
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 700;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 50px;
    padding-right:  150px;
    font-size: large;
    font-weight: 700;
}


.login {
    width: 150%;
    height: 80px;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Black Han Sans', sans-serif;
    background-color: rgb(197, 169, 224);
    box-shadow: 10px 10px 20px rgb(0,0,0,0.6);
    border: none;
}

.login-content article span {
    padding-top: 25px;
}


.login-button {
    padding-top: 18px;
    display: flex;
    justify-content: center;
    padding-left: 130px;
}

.login-button button {
    width: 45%;
    height: 35px;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px rgb(0,0,0 ,0.8);
    border: none;
    border-radius: 10px;
    font-size: medium;
    font-weight: 900;
}

.login-button button:hover {
    background-color: rgb(203, 186, 219);
    color: white;
}

@media (max-width: 415px) {
    .login {
        width: 350px;
    }

    article {
        padding-left: 150px;
    }
    
}

/* end login container */

/* signup-container  */

.signup-container {
    width: 100%;
    height: 82%;
    background-color: rgb(250, 243, 243);
    box-shadow: 10px 10px 20px rgb(0,0,0,0.6);
    border: none;
    border-radius: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
}

.signup-container {
    display: none;
}

.signup-container h1 {
    padding-top: 10px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}

.signup-content section {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right:  150px;
    padding-left: 50px;
}

section {
    font-size: 20px;
    font-weight: 700;
}


.signup {
    width: 130%;
    height: 60px;
    padding-top: 15px;
    padding-left: 5px;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Black Han Sans', sans-serif;
    background-color: rgb(197, 169, 224);
    box-shadow: 10px 10px 20px rgb(0,0,0,0.6);
    border: none;
}

.enter-button {
    padding-top: 12px;
    display: flex;
    justify-content: center;
    padding-left: 80px;
}

.enter-button button {
    width: 45%;
    height: 35px;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px rgb(0,0,0 ,0.8);
    border: none;
    border-radius: 10px;
    font-size: medium;
    font-weight: 900;
}

.enter-button button:hover {
    background-color: rgb(203, 186, 219);
    color: white;
}

.signup-content section span {
    padding-top: 10%;
}

@media (max-width: 412px) {
    section {
        padding-left: 50px;
    }  
}